.platform {
    position: absolute;
    height: 18px;
    background-color: green;
    background-image: url(ground.png);
}
.particle {
    width: 3px;
    height: 3px;
    position: absolute;
    background-color: black;
}
.sword {
    position: absolute;
    left: 35px;
    width: 5px;
    height: 50px;
    top: 10px;
    transform: rotate(90deg);
}
.sword > div {
    position: absolute;
    width: 5px;
    height: 25px;
    background-color: black;
}
.wall {
    position: absolute;
    width: 18px;
    background-color: brown;
    background-image: url(platform.png);
}
.queen {
    width: 40px;
    height: 60px;
    position: absolute;
    border: 1px solid black;
}
.bear {
    width: 25px;
    height: 50px;
    position: absolute;
}
.bear.one {
    background-image: url(motw.png);
    background-size: 420px;
    background-position: -40px 0px;
}
.bear.one.left {
    background-position: -40px -49px;
}
.bear.one.left2 {
    background-position: -2px -49px;
}
.bear.one.right {
    background-position: -40px -97px;
}
.bear.one.right2 {
    background-position: -2px -97px;
}
.bear.two {
    background-image: url(motw.png);
    background-size: 420px;
    background-position: -354px 0px;
}
.bear.two.left {
    background-position: -354px -49px;
}
.bear.two.left2 {
    background-position: -316px -49px;
}
.bear.two.right {
    background-position: -354px -97px;
}
.bear.two.right2 {
    background-position: -316px -97px;
}
.bear.three {
    background-image: url(motw.png);
    background-size: 420px;
    background-position: -40px -194px;
}
.bear.three.left {
    background-position: -40px -243px;
}
.bear.three.left2 {
    background-position: -2px -243px;
}
.bear.three.right {
    background-position: -40px -292px;
}
.bear.three.right2 {
    background-position: -2px -292px;
}
.bear.four {
    background-image: url(motw.png);
    background-size: 420px;
    background-position: -145px -194px;
}
.bear.four.left {
    background-position: -145px -243px;
}
.bear.four.left2 {
    background-position: -107px -243px;
}
.bear.four.right {
    background-position: -145px -292px;
}
.bear.four.right2 {
    background-position: -107px -292px;
}
.bear.five {
    background-image: url(motw.png);
    background-size: 420px;
    background-position: -145px 0px;
}
.bear.five.left {
    background-position: -145px -49px;
}
.bear.five.left2 {
    background-position: -107px -49px;
}
.bear.five.right {
    background-position: -145px -97px;
}
.bear.five.right2 {
    background-position: -107px -97px;
}
.bear.six {
    background-image: url(motw.png);
    background-size: 420px;
    background-position: -249px 0px;
}
.bear.six.left {
    background-position: -213px -49px;
}
.bear.six.left2 {
    background-position: -250px -49px;
}
.bear.six.right {
    background-position: -283px -97px;
}
.bear.six.right2 {
    background-position: -250px -97px;
}
.bear.seven {
    background-image: url(motw.png);
    background-size: 420px;
    background-position: -249px -194px;
}
.bear.seven.left {
    background-position: -213px -243px;
}
.bear.seven.left2 {
    background-position: -250px -243px;
}
.bear.seven.right {
    background-position: -283px -292px;
}
.bear.seven.right2 {
    background-position: -250px -292px;
}
.bear.eight {
    background-image: url(motw.png);
    background-size: 420px;
    background-position: -354px -194px;
}
.bear.eight.left {
    background-position: -354px -243px;
}
.bear.eight.left2 {
    background-position: -316px -243px;
}
.bear.eight.right {
    background-position: -354px -292px;
}
.bear.eight.right2 {
    background-position: -316px -292px;
}
.gate {
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url(doors.png);
    background-size: 270px;
    background-color: silver;
    border-right: 1px solid silver;
    border-left: 1px solid silver;
    border-top: 1px solid silver;
}

.gate.shut {
    background-position: -15px 0px;
}

.gate.practically {
    background-position: -15px -60px;
}

.gate.almost {
    background-position: -15px -120px;
}

.gate.open {
    background-position: -15px -180px;
}

.ball {
    background-color: purple;
    height: 14px;
    width: 14px;
    position: absolute;
    border: 1px solid purple;
    border-radius: 15px;
}
.ball-holder {
    background-color: black;
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 15px;
}
div.ball-holder.occupied {
    background-color: purple;
    border: 1px solid black;
}
.stage {
    width: 1600px;
    height: 850px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    background: rgba(179,220,237,1);
    background: linear-gradient(to bottom, rgba(41,184,229,1) 0%, rgba(188,224,238,1) 100%);
}
.snail {
    width: 120px;
    height: 105px;
    position: absolute;
    background-image: url(snail.png);
}
.snail.right {
    background-position: -14px -200px;
}
.snail.right.again {
    background-position: -163px -200px;
}
.snail.left {
    background-position: -14px -500px;
}
.snail.left.again {
    background-position: -163px -500px;
}

.goal {
    width: 10px;
    height: 100px;
    position: absolute;
}
.goal.blue {
    background-color: lightblue;
}
.goal.gold {
    background-color: orange;
}
