.platform {
    position: absolute;
    height: 18px;
    background-color: green;
    background-image: url(ground.png);
}
.wall {
    position: absolute;
    width: 18px;
    background-color: brown;
    background-image: url(platform.png);
}
.bear {
    width: 30px;
    height: 40px;
    position: absolute;
}
.gate {
    width: 60px;
    height: 90px;
    border: 1px solid black;
    position: absolute;
}
#bear1 {
    background-color: blue;
}

#bear2 {
    background-color: gold;
}

.ball {
    background-color: purple;
    height: 14px;
    width: 14px;
    position: absolute;
    border: 1px solid purple;
    border-radius: 15px;
}
.ball-holder {
    background-color: black;
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 15px;
}
div.ball-holder.occupied {
    background-color: purple;
    border: 1px solid black;
}
.stage {
    width: 1600px;
    height: 850px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    background: rgba(179,220,237,1);
    background: linear-gradient(to bottom, rgba(41,184,229,1) 0%, rgba(188,224,238,1) 100%);
}
.snail {
    width: 120px;
    height: 105px;
    position: absolute;
    background-image: url(snail.png);
    background-position: -14px -200px;
}
.goal {
    width: 10px;
    height: 100px;
    position: absolute;
}
.goal.blue {
    background-color: lightblue;
}
.goal.gold {
    background-color: orange;
}
